* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, a, li, span, button, label, input {
  font-family: 'Montserrat';
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  z-index: 100;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  overflow: scroll;
  white-space: nowrap;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 0.25rem;
}

.modal-header {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
}

.close-image {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

@media (min-width: 40em) {
  .modal-container {
      overflow: auto;
  }
}